DirectoryIndex index.html

LimitRequestBody 1048576000

ErrorDocument 404 /404.html

Options -Indexes

RewriteEngine On
RewriteRule   ^home/?$   /index.html  [NC]
RewriteRule   ^contact/?$   /Projects.html  [NC]
RewriteRule   ^pricing/?$   /Aboutme.html  [NC]
RewriteRule   ^404/?$   /404.html  [NC]

RewriteCond %{HTTPS} off 
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

